<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Custom"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Easy"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Normal"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Hard"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Custom_gameplay"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fragment"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>